<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/libs/bootstrap.min.js" ></script>
</head>
<body>
    <div align="center" width="80%">
        <div class="alert alert-primary" role="alert">
          CS2B01 - Platform-Based Development
        </div>
        <a href="https://utec.edu.pe/carreras-de-ingenieria/ciencia-de-la-computacion"><img src="../static/images/cs.png" alt="CS"/></a>
        <div class="alert alert-primary" role="alert">
            201710406 -- Gabriel Spranger Rojas
        </div>
        <div><a href="/static/crud_users.html">Manage Users</a></div><br>
        <div><a href="/static/login.html">Login</a></div><br>
        <div><a href="/static/chat.html">Chats</a></div><br>
        <div><a href="/create_commands">Create cal</a></div><br>
        <a href="/logout">Logout</a>
    </div>
</body>
</html>
